@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

* {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
}

@layer base {
  button {
    @apply cursor-pointer;
  }
}

body {
  background-image: url("https://raw.githubusercontent.com/prebuiltui/prebuiltui/refs/heads/main/assets/hero/bg-gradient-2.png");
}